* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

:root {
    --dark-easy: #1d1d1d;
    --dark-hard: #141515;

    --cyan: #00fff5;
    --dark-cyan: #007874;

    --white: #ffffff;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-cyan);
  }

body {

}

.textWhite {
    color: var(--white);
}

.footer {
    width: 100%;
    padding: 3rem;
    margin-top: 2rem;
    background-color: var(--dark-hard);
    color: var(--white);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

